<template>
  <v-snackbar
    botton
    right
    multi-line
    v-model="snackbar"
    :timeout="this.getSnackbar.timeout"
    class="toast"
  >
    {{ this.getSnackbar.message }}
    <v-btn dark icon @click="closeToast()">
      <v-icon color="red">close</v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "Toast",
  data: () => ({}),
  methods: {
    closeToast() {
      this.snackbar = false;
    }
  },
  computed: {
    ...mapGetters(["getSnackbar"]),
    snackbar: {
      get() {
        return this.getSnackbar.visible;
      },
      set(value) {
        this.$store.commit("SET_SNACKBAR", {
          visible: value
        });
      }
    }
  }
};
</script>

<style scoped>
.toast {
  font-size: 20px;
}
</style>
