<template>
  <v-app-bar dark app>
    <v-app-bar-nav-icon @click="openSidebar()"></v-app-bar-nav-icon>
    <router-link to="/" class="home-link">
      <v-toolbar-title id="header-title">Boros112 RPG</v-toolbar-title>
    </router-link>
    <v-spacer />
    <div v-if="!this.$store.getters.isAuthenticated">
      <v-btn icon to="/login" @mouseover="loginIconOver()" @mouseout="loginIconOut()">
        <v-icon>{{loginIconName}}</v-icon>
      </v-btn>
      <v-btn icon to="/register">
        <v-icon>fas fa-user-plus</v-icon>
      </v-btn>
    </div>
    <div v-else>
      <v-btn icon @click="logout()" @mouseover="logoutIconOver()" @mouseout="logoutIconOut()">
        <v-icon>{{logoutIconName}}</v-icon>
      </v-btn>
    </div>
  </v-app-bar>
</template>

<script>
export default {
  name: "Header",
  data: () => ({
    loginIconName: "fas fa-door-closed",
    logoutIconName: "fas fa-door-open"
  }),
  methods: {
    openSidebar() {
      this.$store.commit(
        "SET_SIDEBAR",
        !this.$store.getters.getSidebar.visible
      );
    },
    logout() {
      this.$store.dispatch("logout");
      this.$store.commit("SET_SNACKBAR", {
        message: "Wylogowano"
      });
      this.$router.push("/");
      this.logoutIconOut();
    },
    loginIconOver() {
      this.loginIconName = "fas fa-door-open";
    },
    loginIconOut() {
      this.loginIconName = "fas fa-door-closed";
    },
    logoutIconOut() {
      this.logoutIconName = "fas fa-door-open";
    },
    logoutIconOver() {
      this.logoutIconName = "fas fa-door-closed";
    }
  }
};
</script>

<style scoped>
.home-link {
  text-decoration: none;
  color: white;
}
</style>