<template>
  <div>
    <Header />
    <Sidebar />
  </div>
</template>

<script>
import Header from "./Header";
import Sidebar from "./Sidebar";

export default {
  name: "Navigation",
  components: {
    Header,
    Sidebar
  },
  data: () => ({})
};
</script>
