<template>
  <v-navigation-drawer
    src="@/assets/sidebar-img.jpg"
    v-model="sidebar"
    disable-resize-watcher
    dark
    app
  >
    <v-list shaped>
      <v-list-item three-line>
        <v-list-item-avatar>
          <v-img src="@/assets/images/avatar.jpg"></v-img>
        </v-list-item-avatar>
        <div v-if="this.$store.getters.isAuthenticated">{{this.$store.getters.getUser.username}}</div>
        <div v-else>
          <router-link to="login" style="text-decoration: none;">Zaloguj się</router-link>
        </div>
      </v-list-item>
      <v-list-item-group>
        <v-list-item link to="/">
          <v-list-item-icon>
            <v-icon>fab fa-fort-awesome</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Strona główna</v-list-item-title>
        </v-list-item>
        <div v-if="this.$store.getters.isAuthenticated">
          <v-list-item link to="/games">
            <v-list-item-icon>
              <v-icon>fas fa-gamepad</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Moje gry</v-list-item-title>
          </v-list-item>
        </div>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "Sidebar",
  data: () => ({}),
  computed: {
    sidebar: {
      get() {
        return this.$store.getters.getSidebar.visible;
      },
      set(value) {
        this.$store.commit("SET_SIDEBAR", value);
      }
    }
  }
};
</script>
<style></style>
