@font-face {
  font-family: "rpg_font";
  src: url("breathefire-65pg-webfont.woff2") format("woff2"),
    url("breathefire-65pg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
