<template>
  <div>
    <v-container class="text-center white--text" style="font-size: 40px;">Twoje gry</v-container>
    <v-container grid-list-lg>
      <v-layout row v-if="loading" class="overflow-hidden">
        <v-flex v-for="i in loadAmount" :key="i" xs12 sm6 md6 lg4>
          <v-skeleton-loader type="list-item-two-line" />
        </v-flex>
      </v-layout>
      <v-layout row v-else>
        <v-flex v-for="game in games" :key="game.id" xs12 sm6 md6 lg4>
          <v-card shaped hover @click="showDetails(game)">
            <v-card-title>{{ game.name }}</v-card-title>
            <v-card-subtitle>{{ game.description }}</v-card-subtitle>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-speed-dial fixed right bottom>
      <template v-slot:activator>
        <v-btn fab to="/games/new">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
    </v-speed-dial>

    <v-dialog v-model="detailsVisible" width="80%" max-width="800px">
      <v-card>
        <v-card-actions class="pl-4 pr-4">
          <v-btn icon @click="detailsVisible = false">
            <v-icon>arrow_back</v-icon>
          </v-btn>
          <v-spacer />
          <v-menu bottom left>
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on">
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item-group color="red">
                <v-list-item>Dodaj graczy</v-list-item>
                <v-list-item>Usuń grę</v-list-item>
              </v-list-item-group>
            </v-list>
          </v-menu>
        </v-card-actions>
        <v-divider />
        <v-card-title>
          <v-spacer />
          {{ detailedGame.name }}
          <v-spacer />
        </v-card-title>
        <v-card-title>Opis:</v-card-title>
        <v-card-text>{{ detailedGame.description }}</v-card-text>
        <v-card-title>Gracze:</v-card-title>
        <v-list
          dense
          max-height="250px"
          class="overflow-y-auto"
          v-if="!detailedLoading && detailedGame.players.length > 0"
        >
          <v-list-item-group>
            <v-list-item v-for="player in detailedGame.players" :key="player.id">
              <v-list-item-avatar>
                <v-img src="@/assets/images/avatar.jpg"></v-img>
              </v-list-item-avatar>
              {{ player.username }}
              <v-spacer />
            </v-list-item>
          </v-list-item-group>
        </v-list>
        <div
          class="text-center"
          v-else-if="this.detailedGame.players.length === 0 && !this.detailedLoading"
        >
          <v-card-text>Brak graczy w tej grze</v-card-text>
        </div>
        <div class="text-center" v-else>
          <v-progress-circular :size="40" :width="3" color="black" indeterminate></v-progress-circular>
        </div>
        <v-divider class="mt-6" />
        <v-card-actions></v-card-actions>
      </v-card>
    </v-dialog>
    <router-view />
  </div>
</template>

<script>
export default {
  name: "Games",
  data: () => ({
    detailedLoading: false,
    loading: false,
    detailsVisible: false
  }),
  computed: {
    games() {
      return this.$store.getters.getUserGames;
    },
    detailedGame() {
      return this.$store.getters.getGame;
    },
    loadAmount() {
      let initialAmount = window.innerWidth < 600 ? 8 : 12;
      let height = window.innerHeight - 85; // absolute height of the layout
      let finalAmount = initialAmount;
      if (finalAmount !== 12) {
        finalAmount = Math.floor(height / 90);
      } else {
        finalAmount = 2 * Math.floor(height / 110);
      }
      return finalAmount;
    }
  },
  methods: {
    showDetails(game) {
      this.$store.commit("SET_GAME", game);
      this.detailedLoading = true;
      this.detailsVisible = true;
      this.$store.dispatch("getGamePlayers", game.id).finally(() => {
        this.detailedLoading = false;
      });
    }
  },
  created() {
    this.loading = true;
    this.$store.dispatch("getAllUserGames").finally(() => {
      this.loading = false;
    });
  }
};
</script>

<style></style>
