<template>
  <v-overlay :value="visible" @click="xd">
    <v-card :loading="loading" :disabled="loading" light max-width="800px" width="80vw">
      <v-card-title>
        <v-spacer />Dodawanie nowej gry
        <v-spacer />
      </v-card-title>
      <v-card-text
        class="text-justify"
      >Dodaj grę, której będziesz mistrzem. Po dodaniu będziesz mgół dodać do niej nowych graczy by razem rozpocząć nową przygodę.</v-card-text>
      <v-divider />
      <v-form v-model="valid" @submit.prevent="addGame()">
        <v-card-text class>
          <v-text-field
            v-model="game.name"
            color="black"
            label="Nazwa gry (Tytuł)"
            counter="20"
            :rules="nameRules"
          />
          <v-textarea
            v-model="game.description"
            placeholder="Opisz krótko grę. Możesz napisać gdzie się dzieje, w jakich czasach, czy podać wskazówki dla graczy."
            label="Opis"
            auto-grow
            rows="4"
            counter="100"
            color="black"
            :rules="descriptionRules"
          />
        </v-card-text>
        <v-card-actions class="px-4 pb-4">
          <v-btn text large color="red" @click="cancel()">anuluj</v-btn>
          <v-spacer />
          <v-btn type="submit" :disabled="!valid" text large>Dodaj</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-overlay>
</template>

<script>
export default {
  name: "newGame",
  data: () => ({
    game: {
      name: "",
      description: ""
    },
    loading: false,
    visible: true,
    valid: true,
    descriptionRules: [
      v => {
        return !!v || "To pole jest wymagane";
      },
      v => {
        return v.length <= 100 || "";
      }
    ],
    nameRules: [
      v => {
        return !!v || "To pole jest wymagane";
      },
      v => {
        return v.length <= 20 || "";
      }
    ]
  }),
  methods: {
    cancel() {
      this.$router.back();
    },
    addGame() {
      (this.loading = "black"),
        this.$store
          .dispatch("addUserGame", this.game)
          .then(success => {
            this.$store.commit("SET_SNACKBAR", {
              message: "Dodano grę"
            });
            this.$router.replace("/games");
          })
          .catch(error => {
            this.$store.commit("SET_SNACKBAR", {
              message: "Nieoczekiwany błąd"
            });
          })
          .finally(() => {
            this.loading = false;
          });
    }
  }
};
</script>

<style>
</style>