<template>
  <v-app>
    <navigation />
    <v-content class="main-content">
      <transition :name="this.$route.meta.transition" mode="out-in">
        <router-view />
      </transition>
      <toast />
    </v-content>
  </v-app>
</template>

<script>
import Toast from "./components/popups/Toast";
import Navigation from "./components/navs/Navigation";

export default {
  name: "App",
  components: {
    toast: Toast,
    navigation: Navigation
  }
};
</script>

<style>
[id] {
  font-family: "rpg_font" !important;
}
* {
  cursor: url(assets/font/cursor-default.png), default !important;
}
.auth-trans-enter-active {
  animation: auth-trans-out 0.2s reverse;
}
.auth-trans-leave-active {
  animation: auth-trans-out 0.2s;
}
@keyframes auth-trans-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-15px);
  }
}
</style>
