<template>
  <v-container fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm9 md8 lg6 xl4 offset-xl>
        <v-form v-model="valid" @submit.prevent="login()">
          <v-card :loading="loading" :disabled="loading" elevation="12">
            <v-card-title>
              <v-spacer />
              <v-card-title>Logowanie</v-card-title>
              <v-spacer />
              <v-alert
                aria-label="clear"
                dense
                v-model="alertError"
                width="100%"
                outlined
                type="error"
              >{{alertMessage}}</v-alert>
              <v-alert
                dense
                v-model="alert.error"
                width="100%"
                outlined
                type="error"
              >{{alert.message}}</v-alert>
            </v-card-title>
            <v-card-text>
              <v-text-field
                color="black"
                v-model="username"
                prepend-icon="person"
                name="login"
                label="Nazwa"
                type="text"
                :rules="usernameRules"
              ></v-text-field>

              <v-text-field
                color="black"
                v-model="password"
                prepend-icon="lock"
                name="password"
                label="Hasło"
                type="password"
                :rules="passwordRules"
              ></v-text-field>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-btn to="/register" text class="ml-4">Rejestracja</v-btn>
              <v-spacer></v-spacer>
              <v-btn type="submit" :disabled="!valid" text class="mr-4">
                Zaloguj
                <v-icon>keyboard_arrow_right</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "Login",
  props: {
    alertError: {
      type: Boolean,
      default: false,
      required: false
    },
    alertMessage: {
      type: String,
      default: "",
      required: false
    }
  },
  data: () => ({
    valid: true,
    username: "",
    password: "",
    loading: false,
    usernameRules: [v => !!v || "Podaj nazwę użytkownika"],
    passwordRules: [v => !!v || "Podaj hasło"],
    alert: {
      error: false,
      message: ""
    }
  }),
  methods: {
    login() {
      this.loading = "black";
      this.alert = {
        error: false,
        message: ""
      };
      this.alertError = false;
      this.alertMessage = "";
      this.$store
        .dispatch("login", {
          username: this.username,
          password: this.password
        })
        .then(success => {
          this.$store.commit("SET_SNACKBAR", {
            message: "Zalogowano"
          });
          if (!!this.$route.query.redirect) {
            this.$router.push(this.$route.query.redirect);
          } else {
            this.$router.push("/");
          }
        })
        .catch(error => {
          if (error.response.status == 401) {
            this.alert = {
              error: true,
              message: "Błędna nazwa użytkownika lub hasło"
            };
          }
        })
        .finally(() => {
          this.password = "";
          this.loading = false;
        });
    }
  }
};
</script>

<style>
.main-content {
  background-image: url("../../assets/auth-img.jpg");
  background-size: cover;
  background-attachment: fixed;
}
</style>
