<template>
  <v-container fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm9 md8 lg6 xl4 offset-xl>
        <validation-observer ref="ovserver">
          <v-form v-model="valid" @submit.prevent="register()">
            <v-card elevation="12" :loading="loading" :disabled="loading">
              <v-card-title>
                <v-spacer />Rejestracja
                <v-spacer />
              </v-card-title>
              <v-card-text>
                <validation-provider
                  name="username"
                  rules="required|min:6|max:20"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    type="text"
                    v-model="user.username"
                    color="black"
                    label="Nazwa użytkownika"
                    :error-messages="
                      errors.length > 0 ? errors : takenUsernameError
                    "
                    prepend-icon="person"
                    @input="takenUsernameError = null"
                    :rules="[v => !!v]"
                  ></v-text-field>
                </validation-provider>
                <validation-provider
                  name="password"
                  rules="required|min:6|max:20"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    type="password"
                    v-model="user.password"
                    color="black"
                    label="Hasło"
                    :error-messages="errors"
                    ref="password"
                    prepend-icon="lock"
                    :rules="[v => !!v]"
                  ></v-text-field>
                </validation-provider>
                <validation-provider
                  name="repPassword"
                  rules="required|confirmed:password"
                  v-slot="{ errors }"
                >
                  <v-text-field
                    type="password"
                    v-model="user.repeatPassword"
                    color="black"
                    label="Powtórz hasło"
                    :error-messages="errors"
                    prepend-icon="lock"
                    :rules="[v => !!v]"
                  ></v-text-field>
                </validation-provider>
              </v-card-text>
              <v-divider />
              <v-card-actions>
                <v-btn text class="ml-4" to="/login">Logowanie</v-btn>
                <v-spacer />
                <v-btn type="submit" text class="mr-4" :disabled="!valid" @click="register()">
                  Zarejestruj
                  <v-icon>keyboard_arrow_right</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </validation-observer>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
import { required, min, max, confirmed } from "vee-validate/dist/rules";

extend("required", {
  ...required,
  message: "To pole jest wymagane"
});
extend("min", {
  ...min,
  message: "To pole powinno zawierać co najmniej 6 znaków"
});

extend("max", {
  ...max,
  message: "To pole powinno zawierać co najwyżej {length} znaków"
});

extend("confirmed", {
  ...confirmed,
  message: "Hasla muszą być identyczne"
});
export default {
  name: "Register",
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data: () => ({
    user: {
      username: "",
      password: "",
      repeatPassword: ""
    },
    loading: false,
    valid: false,
    takenUsernameError: null
  }),
  methods: {
    register() {
      this.loading = "black";
      this.$store
        .dispatch("register", this.user)
        .then(success => {
          this.$store.commit("SET_SNACKBAR", {
            message: "Konto zostało utworzone. Zalogowano automatycznie",
            timeout: 2500
          });
          this.$router.push("/");
        })
        .catch(error => {
          if (error.response.status === 409) {
            this.takenUsernameError = "Ta nazwa użytkownika jest zajęta";
          }
        })
        .finally(() => {
          this.loading = false;
        });
    }
  }
};
</script>

<style></style>
